<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Restaurant King</title>
    </head>
    <body>
        <h2>歡迎來到餐廳王</h2>
        {% if request.user.is_authenticated %}
            <p>{{request.user}} 您已經登入囉
                <a href="/accounts/logout/">登出</a>
            </p>
            <a href="/restaurants_list/">餐廳列表</a>
        {% else %}
            <p>您尚未登入喔~<a href="/accounts/login/">登入</a></p>
        {% endif %}
	<p>若您還沒有帳號，請<a href="/accounts/register/">註冊</a></p>
    </body>
</html>
